body {
    background-color: antiquewhite;

    & header {

        & h1 {
            text-align: center;
        }
    }

    & main {

        #container {
            display: flex;
            flex-wrap: wrap;
            width: 1000px;
            justify-content: center;
            margin: auto;

            .box {
                width: 90px;
                border: 1px solid black;
                aspect-ratio: 1;
            }

            .red {
                background-color: red;
            }

            .green {
                background-color: rgb(0, 255, 0);
            }
        }
    }
}